<!-- Archivo: templates/nosotros.html -->

{% extends 'layout.html' %}

{% block content %}
    <div id="nosotros">
        <h1>Nosotros</h1>
        <h2>¿Quiénes Somos?</h2>
        <p>Somos una empresa de gestión de fondos mutuos con sede en Chile, dedicada a proporcionar soluciones de inversión inteligentes y personalizadas. Nuestra experiencia en el mercado financiero nos permite ofrecer carteras diversificadas y estrategias adaptadas a las necesidades de nuestros clientes.</p>
        <hr>
        <h2>Misión</h2>
        <p>Nuestra misión es brindar a nuestros inversionistas oportunidades de crecimiento financiero a través de inversiones sólidas y gestionadas de manera eficiente. Buscamos la excelencia en la administración de fondos y la creación de valor a largo plazo para nuestros clientes.</p>
        <hr>

        <h2>Visión</h2>
        <p>Buscamos ser líderes en la industria de gestión de fondos mutuos en Chile, reconocidos por nuestra transparencia, integridad y resultados consistentes. Nos esforzamos por ser la elección preferida de los inversionistas que buscan un socio confiable en su viaje financiero.</p>
        <hr>

        <h2>Ubicación</h2>
        <p>Estamos ubicados en la ciudad de Coquimbo, Chile. Nuestra dirección es Larrondo 1045 Oficina 10-B.</p>

        <div id="ubicacion">
            <!-- Puedes agregar aquí un mapa de Google Maps o cualquier otro recurso visual de ubicación -->
            <a href="https://maps.app.goo.gl/RphU8zN4LcisT1sAA" target="_blank">Ver en Google Maps</a>
        </div>
        <hr>

        <div id="contacto">
            <h2>Medios de Contacto</h2>
            <ul>
                <li>Email: fmu@gmail.com</li>
                <li>Teléfono: +56 965 456 789</li>
                <!-- Agrega más información de contacto según sea necesario -->
            </ul>
        </div>
    </div>
{% endblock %}
